.column {
	flex-grow: 0.1;
	min-width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	margin-right: 30px;
	margin-bottom: 70px;
}

.column--width {
	flex-grow: 0.9;
	@media screen and (max-width: 767px){
		width: 100%;
	}
}