.experience-block{
	margin-bottom: 20px;
}

.experience-block__wrapper{
	margin-bottom: -10px;
}

.experience-block__title{
	margin-bottom: 43px;
}

.experience-block__title::before{
	content: "";
	display: block;
	position: absolute;
	top: -16px;
	left: -110px;
	width: 87px;
	height: 87px;
	background-image: url(../images/experience-icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
}


.experience-block__list{
	margin-left: 86px;
	padding-top: 4px;
	@media screen and (max-width: 550px){
		margin-left: 50px;
	}
}

.experience-block__item{
	position: relative;
	display: block;
	max-width: 650px;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.experience-block__item::before{
	content: "";
	position: absolute;
	left: -50px;
	top: 5px;
	width: 25px;
	height: 25px;
	background-color: $black;
	border-radius: 50%;
}

.experience-block__text{
	padding: 0;
	margin: 0;
	margin-right: 33px;
	margin-bottom: 4px;
	font-size: 1.8em
}

.experience-block__text--upper{
	text-transform: uppercase;
}

.experience-block__text--bold{
	font-family: "Myriad Pro Bold";
}
