doctype html
html(lang="ru")
	head
	meta(charset = 'utf-8')
	meta(name ="viewport", content = "initial-scale=1.0, width=device-width")
	title Document
	body
		main.container
			div.column
				div.block.avatar-block
					img.avatar-block__img
					p.avatar-block__text.avatar-block__text--spacing name here
					p.avatar-block__text.avatar-block__text--bold.avatar-block__text--large.avatar-block__text--lowline surname
					p.avatar-block__text.avatar-block__text--small.avatar-block__text--bold.avatar-block__text--lowline graphic disigner
				div.block.profile-block
					h1.block__title.pofile-block__title profile
					p.block__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
						b.block__text--bold pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
				div.block.contact-block
					h1.block__title.contact-block__title contact
					table.contact-block__table
						tr
							td.contact-block__cell.contact-block__cell--bold-title Address
							td.contact-block__cell Main Street, City.
						tr
							td.contact-block__cell.contact-block__cell--bold-title E-mail
							td.contact-block__cell contact@domain.com
						tr
							td.contact-block__cell.contact-block__cell--bold-title Phone
							td.contact-block__cell 555-555-555
						tr
							td.contact-block__cell.contact-block__cell--bold-title Website
							td.contact-block__cell www.yourweb.com
				div.block.skills-block
					h1.block__title.skills-block__title skills
					div.skills-block__wrapper
						ul.skills-list
							li.skills-list__title creative
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item.skills-list__item--grey
							li.skills-list__item.skills-list__item--grey
							li.skills-list__item.skills-list__item--grey
						ul.skills-list
							li.skills-list__title teamwork
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item.skills-list__item--grey
						ul.skills-list
							li.skills-list__title innovate
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item.skills-list__item--grey
							li.skills-list__item.skills-list__item--grey
							li.skills-list__item.skills-list__item--grey
							li.skills-list__item.skills-list__item--grey
							li.skills-list__item.skills-list__item--grey
							li.skills-list__item.skills-list__item--grey
						ul.skills-list
							li.skills-list__title communication
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item
							li.skills-list__item.skills-list__item--grey
			div.column.column--width
				div.block.education-block
					h1.block__title.education-block__title.block__title--left education
					ul.education-block__list
						li.education-block__item
							div.wrapper.wrapper--wrap
								p.education-block__text.education-block__text--upper.education-block__text--blue.education-block__text--bold Master degree
								p.education-block__text // Feb 2011 - Jun 2014
								p.education-block__text.education-block__text--upper.education-block__text--thin University name
							p.block__text.block__text--width Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
						li.education-block__item
							div.wrapper.wrapper--wrap
								p.education-block__text.education-block__text--upper.education-block__text--blue.education-block__text--bold Master degree
								p.education-block__text // Feb 2011 - Jun 2014
								p.education-block__text.education-block__text--upper.education-block__text--thin University name
							p.block__text.block__text--width Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
						li.education-block__item
							div.wrapper.wrapper--wrap
								p.education-block__text.education-block__text--upper.education-block__text--blue.education-block__text--bold Master degree
								p.education-block__text // Feb 2011 - Jun 2014
								p.education-block__text.education-block__text--upper.education-block__text--thin University name
							p.block__text.block__text--width Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
						li.education-block__item
							div.wrapper.wrapper--wrap
								p.education-block__text.education-block__text--upper.education-block__text--blue.education-block__text--bold Master degree
								p.education-block__text // Feb 2011 - Jun 2014
								p.education-block__text.education-block__text--upper.education-block__text--thin University name
							p.block__text.block__text--width Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
				div.block.experience-block
					h1.block__title.experience-block__title.block__title--left experience
					ul.experience-block__list
						li.experience-block__item
							div.wrapper.wrapper--wrap.experience-block__wrapper
								p.experience-block__text.experience-block__text--upper.experience-block__text--bold Company name
								p.experience-block__text // Feb 2011 - Jun 2014
								p.experience-block__text.experience-block__text--upper Your job here
							p.block__text.block__text--width Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
						li.experience-block__item
							div.wrapper.wrapper--wrap.experience-block__wrapper
								p.experience-block__text.experience-block__text--upper.experience-block__text--bold Company name
								p.experience-block__text // Feb 2011 - Jun 2014
								p.experience-block__text.experience-block__text--upper Your job here
							p.block__text.block__text--width Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
						li.experience-block__item
							div.wrapper.wrapper--wrap.experience-block__wrapper
								p.experience-block__text.experience-block__text--upper.experience-block__text--bold Company name
								p.experience-block__text // Feb 2011 - Jun 2014
								p.experience-block__text.experience-block__text--upper Your job here
							p.block__text.block__text--width Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
				div.block.software-block
					h1.block__title.block__title--left.software-block__title software
					div.wrapper
						div.software-block__column
							ul.software-block__list
								li.software-block__item
									p.software-block__item-title.software-block__photoshop-prog Photoshop
								li.software-block__item
									p.software-block__item-title.software-block__illustrator-prog Illustrator
								li.software-block__item
									p.software-block__item-title.software-block__indesign-prog Indesign
						div.software-block__column
							ul.software-block__list
								li.software-block__item
									p.software-block__item-title.software-block__dreamweaver-prog.software-block__item-title--left Dreamweaver
								li.software-block__item
									p.software-block__item-title.software-block__after-effects-prog.software-block__item-title--left After Effects
								li.software-block__item
									p.software-block__item-title.software-block__html-css-prog.software-block__item-title--left HTML&CSS3