.profile-block{
	margin-bottom: 42px;
}

.pofile-block__title{
	margin-bottom: 19px;
	@media screen and (max-width: 450px){
		margin-bottom: 50px;
	}
	&:before{
	content: "";
	display: block;
	position: absolute;
	top: -16px;
	left: -100px;
	width: 87px;
	height: 87px;
	background-image: url(../images/profile-icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	}
}
