doctype html
html(lang="ru")
	head
	meta(charset = 'utf-8')
	meta(name ="viewport", content = "initial-scale=1.0, width=device-width")
	title Document
	body
		main.container
			div.column
				div.block.avatar-block
					img.avatar-block__img
					p.avatar-block__text.avatar-block__text--spacing name here
					p.avatar-block__text.avatar-block__text--bold.avatar-block__text--large.avatar-block__text--spacing.avatar-block__text--lowline surname
					p.avatar-block__text.avatar-block__text--small.avatar-block__text--bold.avatar-block__text--lowline graphic disiner
				div.block.profile-block
					h1.block__title.pofile-block__title profile
					p.block__text
				div.block.contact-block
					h1.block__title.contact-block__title contact
				div.block.skills-block
					h1.block__title.skills-block__title skills
			div.column.column--width
				div.block.education-block
					h1.block__title.education-block__title education
				div.block.experience-block
					h1.block__title.experience-block__title experience
				div.block.software-block
					h1.block__title.software-block__title software